@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passGenBox{
    background-color: black;
    border: 2px solid white;
}